<section class="container-fluid pt-3" id='heropage'>
    <div class="row pt-5">
        <div class="col-12 p-0">
            <img src="/images/hero.jpg" alt="heroimg">
        </div>
    </div>
</section>
<section class="container-fluid pb-4 pt-5" id='adoptpage'>
    <div class="row justify-content-center pt-4">
        <div class="col-12 myheader">
            Adopt
        </div>
        <div class="col-12 subheader mb-5">
            Getting a Pet
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-3 pt-5">
            <p><span class="pt-3">STEP</span><span class="stepno">01</span></p>
            <p class="stepline"></p>
            <h6>Browse &amp; Select</h6>
            <p class="text-justify">Look through the gallery or come down
                personally for viewing to find a suitable
                companion!</p>
        </div>
        <div class="ml-5" id="stepone">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="mr-5" id="steptwo">
        </div>
        <div class="col-12 col-md-3 pt-5">
            <p><span class="pt-3">STEP</span><span class="stepno">02</span></p>
            <p class="stepline"></p>
            <h6>Fill In The Application Form</h6>
            <p class="text-justify">Click here to download the adoption
                application form. Complete the form
                and bring it during your appointment.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-3 pt-5">
            <p><span class="pt-3">STEP</span><span class="stepno">03</span></p>
            <p class="stepline"></p>
            <h6>Make An Appointment</h6>
            <p class="text-justify">Book an appointment 48 hours in advance
                to complete the handover process. A
                maximum number of 4 family members
                are allowed per appointment.</p>
        </div>
        <div class="ml-5" id="stepthree">
        </div>
    </div>
</section>
<section class="container-fluid pb-5 pt-5 mt-2" id='servicepage'>
    <div class="row pt-4">
        <div class="col-12 myheader">
            Services
        </div>
        <div class="col-12 subheader mb-5">
            What We Provide
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-12">
            <h4>ANIMAL RESCUE</h4>
            <h6 class="mb-3">24H Emergency Rescue Services</h6>
            <span><i class="fas fa-phone-alt mr-2"></i> 62875355 ext 9</span>
            <p>Our emergency rescue service operates 24 hours a day, 365 days a year. In 2014, we responded to 3099
                calls, and helped 1828 animals. We face a myriad of rescues involving different animals, wildlife and
                community alike. In rescue operations, our staff often face risky situations in the course of saving an
                animal's life. However, our dedicated officers will do the best they can and bring the animal to safety.
            </p>

        </div>
        <div class="col-md-4 col-12 d-flex justify-content-end">
            <img src="/images/rescue.jpg" alt="rescue">
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-4">
            <img src="/images/shelter.jpg" alt="shelter">
        </div>
        <div class="col-4">
            <h4>ANIMAL SHELTER</h4>
            <h6>Taking In Unwanted/Abandoned Pets</h6>
            <p>In addition to the injured, abused and sick community animals the SPCA rescues, we also take in up to 200
                unwanted or abandoned pets each month (including dogs, cats, rabbits, hamsters and guinea pigs). The
                main reason cited by owners who give up their pets: "No time to look after them". Many of these animals
                are, sadly, victims of impulse buying. Others are the result of over-breeding and as many as 20
                cats/rabbits or 70 hamsters have been abandoned by individual owners. Other abandoned pets come to us
                with chronic ailments or behavioural issues which their owners had neglected.
            </p>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-4">
            <h4>SPCA CLINIC</h4>
            <h6 class="mb-3">Medical Services for Animals</h6>
            <span class="mr-3"><i class="fas fa-phone-alt mr-2"></i> 62875355</span> <span><i
                    class="mr-2 fas fa-envelope"></i> <a href="mailto:clinic@spca.org.sg">clinic@spca.org.sg</a></span>
            <p>The SPCA Clinic is Singapore’s one and only not for profit animal clinic, providing affordable and
                quality healthcare for marginalised animals (sick, unwanted and rescued street animals that come through
                SPCA’s doors, animals from other shelters, community animals and pets from low income homes). Clinic
                consultations are strictly by appointment.
            </p>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <img src="/images/clinic.png" alt="clinic">
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-4">
            <img src="/images/education.jpg" alt="education">
        </div>
        <div class="col-4">
            <h4>EDUCATION</h4>
            <h6>Imparting Right Attitudes Towards Animals</h6>
            <p>We conduct talks for various audiences, including primary and secondary schools, junior colleges,
                tertiary institutions and CCA group gatherings. Talks are also available for national libraries,
                community centres and other organisations. Through these talks, participants can find out what it takes
                to keep their furry friends happy, and will also learn valuable and easy-to-use tips to help them better
                understand their pet.</p>
        </div>
    </div>
</section>
<section class="container-fluid pt-5" id='supportpage'>
    <div class="row justify-content-center pb-4">
        <div class="col-12 myheader">
            Support Us
        </div>
        <div class="col-12 subheader mb-5">
            How to Help
        </div>
        <div class="col-md-4 mr-md-5 col-8 d-flex justify-content-start align-items-center flex-column">
            <h6>Volunteer</h6>
            <img src="/images/volunteer.jpg" alt="volunteerpic">
            <p class="text-justify">
                Applicants must be at least 17 years of age in order to volunteer in the shelter.
                New volunteers have to be able to commit for at least 4 months consecutively, on a weekly or fortnightly
                basis.
            </p>
        </div>
        <div class="col-md-4 col-8 d-flex justify-content-start align-items-center flex-column">
            <h6>Donate</h6>
            <img src="/images/donate.jpg" alt="donationpic">
            <p class="text-justify">
                As we do not receive funding from the government, SPCA relies on public donations and other fundraising
                (such as merchandise sales) to assist with the operations
                of our animal shelter and clinic, support the work of our Inspectorate and animal rescue services, as
                well
                as other initiatives such as our foster care programmes, sterilisation programmes,
                education and outreach efforts.
            </p>
        </div>
    </div>
</section>
<section class="container-fluid pt-5" id='contactpage'>
    <div class="row justify-content-center pt-4 pb-4">
        <div class="col-12 myheader">
            Contact Us
        </div>
        <div class="col-12 subheader">
            Have a Query?
        </div>
        <p class="col-12 text-center mt-3">
            Alternatively, we can be contacted at our 24-hour hotline: 62875355.
        </p>
        <form class="row p-0">
            <div class="col-12 d-flex m-3">
                <label class="formm" for="qname">Name<sup>*</sup> </label>
                <input class="ml-auto" type="text" id="qname" placeholder="enter your name" required>
            </div>
            <div class="col-12 d-flex m-3">
                <label for="qemail">Email<sup>*</sup> </label>
                <input class="ml-auto" type="email" id="qemail" placeholder="enter your email" required>
            </div>
            <div class="col-12 d-flex m-3">
                <label for="qcontact">Contact No.<sup>*</sup> </label>
                <input class="ml-auto" type="tel" pattern="[0-9]{8}" id="qcontact" placeholder="e.g. 12345678" required>
            </div>
            <div class="col-12 d-flex m-3">
                <label for="qsubject">Subject<sup>*</sup> </label>
                <input class="ml-auto" type="text" id="qsubject" required placeholder="enter a subject">
            </div>
            <div class="col-12 ml-3 mr-3 mt-1">
                <label class="d-block" for="qmsg">Message<sup>*</sup> </label>
                <textarea placeholder="enter your query here" id="qmsg"></textarea>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-around align-items-center">
                <button class="greybg" type="reset">RESET</button>
                <button class="blkbg" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
</section>