<div class="row p-5 justify-content-center">
    <div class="col-12 d-flex flex-column justify-content-center text-center">
        <h5>Society for the prevention of cruelty to animals, Singapore</h5>
        <p class="mt-2">50 Sungei Tengah Road S699012</p>
        <p>24-Hour Hotline: 62875355</p>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-youtube-square"></i>
    </div>
    <div class="col-12 d-flex justify-content-center mt-3">
        <a>Terms of use</a>
        <a>Privacy policy</a>
        <a>Sitemap</a>
    </div>
    <p class="mt-5">Web Design by <u>charkoal</u></p>
</div>