<div class="container-fluid">
    <div class="row pt-2">
        <div class="col-2">SPCA</div>
        <div class="col-5"></div>
        <div class="col-5 border d-flex justify-content-around">
            <a href="#adoptpage">Adopt</a>
            <a href="#servicepage">Services</a>
            <a href="#supportpage">Support Us</a>
            <a href="#contactpage">Contact</a>
        </div>
    </div>
</div>