/* 
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;
    orange: #FCA311;
    plat: #E5E5E5;
    white: #FFFFFF;
    black: #000000;
    oxford blue: #14213D;
    yellow: #E5BA28;
*/

body,html {
  padding: 0px;
  margin: 0px;
  background-color: #FFFFFF;
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
}

a, a:hover {
  color: #000000;
  text-decoration: none;
}

.rbor {
  border: 1px red solid;
}



/* header */
header {
  font-weight: 700;
  font-size: 20px;
}

#heropage {
  height: 650px;
}

#adoptpage, #servicepage {
  height: 900px;
}

.myheader, .subheader {
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}

.myheader {
  letter-spacing: 2.5px;
}

.subheader {
  font-weight: 500;
  font-size: 18px;
}

/* support page */
#supportpage {
  background-color: #E5E5E5;
  padding: 30px 0px;
}

#supportpage img {
  height: 300px;
  margin: 40px 0px;
}

#supportpage h6 {
  border: none;
  border-radius: 40px;
  font-weight: 700;
  padding: 15px 55px;
}

#supportpage div:nth-child(3) h6{
  background-color: #E5BA28;
}

#supportpage div:nth-child(4) h6{
  background-color: #14213D;
  color: #FFFFFF;
}

/* contact page */
#contactpage {
  background-color: #E5BA28;
}

#contactpage form {
  margin: 40px 0px;
  width: 500px;
  font-family: 'Roboto', sans-serif;
}

#contactpage textarea {
  width: 100%;
  margin: 10px 0px;
  height: 140px;
}

#contactpage label {
  font-weight: bold;
  margin: 5px 0px;
}

#contactpage input {
  width: 360px;
}

#contactpage button {
  border: none;
  border-radius: 40px;
  font-weight: 700;
}

#contactpage sup {
  color: #FF0000;
}

.blkbg {
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px 55px;
}

.greybg {
  background-color: #AAAAAA;
  color: #FFFFFF;
  padding: 5px 25px !important;
  height: 40px;
}