/* 
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;
    orange: #FCA311;
    plat: #E5E5E5;
    white: #FFFFFF;
    black: #000000;
    oxford blue: #14213D;
    yellow: #E5BA28;
*/

body,html {
  padding: 0px;
  margin: 0px;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a, a:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.rbor {
  border: 1px red solid;
}

/* header */
header {
  font-weight: 700;
  font-size: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
  background-color: #FFFFFF;
}

.myheader, .subheader {
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

.myheader {
  letter-spacing: 2.3px;
  text-transform: uppercase;
  font-size: 30px;
}

.subheader {
  font-weight: 500;
  font-size: 18px;
}

/* hero image */
#heropage {
  background-color: #000000;
  color: #FFFFFF;
}
#heropage .row {
  height: 100%;
}

#heropage img {
  height: 650px;
}

#heropage h1 {
  position: relative;
  top: 200px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: justify;
}

#heropage p {
  position: relative;
  top: 200px;
  font-weight: 500;
  text-align: justify;
}

#heropage a {
  position: relative;
  top: 240px;
  font-weight: 500;
  border: none;
  border-radius: 40px;
  font-weight: 700;
  padding: 15px 20px;
  background-color: #E5BA28;
  color: #FFFFFF;
}
/* adopt page */
#adoptpage span {
  font-weight: 700;
  font-size: 22px;
  font-family: 'Noto Sans JP', sans-serif;
}

#adoptpage .stepno {
  font-size: 30px;
  margin: 0 0 0px 10px;
}

.stepline {
  border-top: 4px solid #E5BA28;
  width: 80px;
  margin: -20px 0 20px 0;
}

#stepone, #steptwo, #stepthree {
  border-radius: 50%;
  height: 350px;
  width: 350px;
  background-position: center;
  border: 10px solid #E5BA28;
}

#stepone {
  background-image: url('/images/stepone.jpg');
}

#steptwo {
  background-image: url('/images/steptwo.jpg');
}

#stepthree {
  background-image: url('/images/stepthree.jpg');
}

/* service page */
#servicepage {
  background-color: #E5BA28;
}

#servicepage h4 {
  font-weight: 900;
  color: #FFFFFF;
}

#servicepage p {
  text-align: justify;
  margin: 20px 0;
}

#servicepage span {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #14213D;
  color: #FFFFFF !important;
}

#servicepage a {
  color: #FFFFFF !important;
}

#servicepage img {
  height: 300px;
  width: 450px;
  border: 10px solid #14213D;
  border-radius: 10px;
}

/* support page */
#supportpage {
  padding: 0 0 30px 0px;
}

#supportpage img {
  height: 300px;
  margin: 20px 0px;
}

#supportpage h6 {
  border: none;
  border-radius: 40px;
  font-weight: 700;
  padding: 15px 55px;
}

#supportpage div:nth-child(3) h6{
  background-color: #E5BA28;
}

#supportpage div:nth-child(4) h6{
  background-color: #14213D;
  color: #FFFFFF;
}

/* contact page */
#contactpage {
  background-color: #E5BA28;
}

#contactpage form {
  width: 500px;
  font-family: 'Roboto', sans-serif;
}

#contactpage textarea {
  width: 100%;
  margin: 10px 0px;
  height: 140px;
}

#contactpage label {
  font-weight: bold;
  margin: 5px 0px;
}

#contactpage input {
  width: 360px;
}

#contactpage button {
  border: none;
  border-radius: 40px;
  font-weight: 700;
}

#contactpage sup {
  color: #FF0000;
}

.blkbg {
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px 55px;
}

.greybg {
  background-color: #AAAAAA;
  color: #FFFFFF;
  padding: 5px 25px !important;
  height: 40px;
}

/* footer */
footer {
  background-color: #000000;
  color: #AAAAAA;
}

footer h5 {
  color: #FFFFFF;
  text-transform: uppercase;
}

footer h6 {
  text-transform: capitalize;
}

footer p.mt-5 {
  font-size: 12px;
}

footer i {
  margin: 20px 20px;
  font-size: 40px;
  color: #FFFFFF;
}

footer a {
  text-transform: uppercase;
  margin: 0 40px 20px 40px;
}